<div class="background-main-angled">
<!--     <h1 class="main-heading">Find the best kebab near you</h1>
 -->




# Autocomplete form

<input type="search" id="address" class="form-control" placeholder="Where are we going?" />

<p>Selected: <strong id="address-value">none</strong></p>
<script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
<script>
(function() {
  var placesAutocomplete = places({
    appId: 'pl2PZFPQEVHX',
    apiKey: '0cfc2b6768b43b6582261c291ba897bd',
    container: document.querySelector('#address')
  });

  var $address = document.querySelector('#address-value')
  placesAutocomplete.on('change', function(e) {
    $address.textContent = e.suggestion.value
  });

  placesAutocomplete.on('clear', function() {
    $address.textContent = 'none';
  });

})();
</script>



# Styled Form
  <div class="form-main">
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Turmstrasse"  aria-label="Search" style="
    z-index: 3" params=[:query]>
       <%= link_to restaurants_path do %>
      <button class="btn-lila-lg" type="submit"><strong>Find</strong></button>
     <% end %>
   </form>
  </div>




</div>

# Query Form

<%= form_tag restaurants_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>






<div class="img-home">
<%= image_tag("https://kebabguide.s3.eu-central-1.amazonaws.com/assets/Do%CC%88ner_home.jpg", size: "375x250") %>
</div>
