<nav class="navbar justify-content-between">
  <% if user_signed_in? %>
    <%= link_to "Back to search", "..", class: "nav-link"%>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link"%>
  <% else %>

    <%= link_to "Login", new_user_session_path, class: "nav-link"%>
  <% end %>
</nav>


<div class="toogle-main" >
  <label class="switch" style="z-index: 3">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

<div class="list-index">
<div class="search-info">

  <div class="search-info-details">
    <h1> The best Kebabs </h1>
      <h2> Results near <%=  @query.present? ? @query.split(",")[0] : "Berlin" %> </h2>
  </div>

</div>


<div class="main">
    <% counter = 0 %>

    <% @restaurants.each do |restaurant|%>
      <% counter += 1 %>

      <%= render partial: 'restaurant_image', locals: { restaurant: restaurant } %>
        <div class="profile">
          <div>
            <h1><%= link_to restaurant.name, restaurant_path(restaurant), :style=> "color:black"; %></h1>
            <p> <%= restaurant.address.split(",")[0] %></p>
          </div>
          <div class="text-right">
            <h1>⭐ 3.5</h1>
            <p><b>1337 Kebabs rated</b></p>
          </div>
        </div>

        <% if counter < @restaurants.length %>

      <div class="kind-review">
        <div class="line-index"></div>
        <% end %>
      </div>
    <% end %>

</div>

    <%# map div below integrate wherever you want when desigining %>

<div id="map"
        style="margin-top: -33px; width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<script type="text/javascript">
  document.querySelector(".switch").addEventListener("click", () => {
    console.log("test");
    if (document.querySelector(".switch input").checked) {
      document.querySelector(".list-index").classList.add("hide-content");
      document.querySelector("#map").classList.remove("hide-content");
    }
    else {
      document.querySelector("#map").
        classList.add("hide-content");
        document.querySelector(".list-index").classList.remove("hide-content");
    }
  });
// list = false, map true

</script>





