<%= form_for @restaurant, html: { multipart: true } do |f| %>
  <div><%= f.text_field :name %></div>
  <div><%= f.select :cuisine_id, Cuisine.all.map {|c| [c.name, c.id]} %>
  
  <%# this shows the image you already chose in the form if there is a validation error  %>
  <div><%= image_tag(@restaurant.image_url, class: 'image-thumbnail') if @restaurant.image? %></div>
  <div><%= f.file_field :image %></div>
  <div><%= f.hidden_field :image_cache %></div>

  <div><%= f.submit "Save Restaurant" %></div>
<% end %>
