<div class="container">
  <div class="dashboard-new">
  <%= render partial: 'shared/nav' %>
  <h1> Add your favorite Kebab here </h1>
  <br>
  <div class="main">
    <%= form_for @restaurant, html: { multipart: true } do |f| %>
      <div><%= f.text_field :name, placeholder: 'Name goes here' %></div>
      <br>
      <div><%= f.text_field :address, placeholder: 'Address goes here' %></div>
      <br>
      <div><%= f.text_area :description, placeholder: 'Description goes here' %></div>
      <br>
      <div><%= f.select :cuisine_id, Cuisine.all.map {|c| [c.name, c.id]} %>
      <br>
      <div><%= image_tag(@restaurant.image_url) if @restaurant.image? %></div>
      <div><%= f.file_field :image %></div>
      <%# f.hidden_field :image_cache %>
      </br>
      <div><%= f.submit "Save Restaurant" %></div>
    <% end %>
  </div>
</div>
</div>
</div>
