<nav class="navbar justify-content-between">
  <% if user_signed_in? %>
    <%= link_to "Back to search results", :back, class: "nav-link"%>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link"%>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "nav-link"%>
  <% end %>
</nav>

<div class="main">
  <%= render partial: 'shared/item_image', locals: { item: @restaurant } %>
  <div class="profile">
    <div>
      <h1> <%= @restaurant.name %></h1>
      <p> <%= @restaurant.address.split(",")[0] %></p>
    </div>
    <div class="text-right">
      <%=  %>
      <h1>⭐ <%= @average_rating %></h1>

      <p><b><%= @restaurant.reviews.count %> Kebabs rated</b></p>
    </div>
  </div>

  <div class="review padding">
    <h2> <%= @restaurant.cuisine.name %> Cuisine</h2>
    <p> <%= @restaurant.description %> </p>
  </div>

  <div class="btn-box">

  <%= button_to "Rate your Kebab", new_restaurant_review_path(@restaurant), method: :get, class: "btn-red text-deco" %>
  </div>
  <div class="review">
    <% categories = %w[filling sauce bread salad extra] %>
    <% categories.each do |category| %>
    <%= render 'shared/restaurant_review', restaurant: @restaurant, category: category %>
    <% end %>


  <div class="btn-box-bottom">
  <button class="btn-red"> <%= link_to "Rate your Kebab", new_restaurant_review_path(@restaurant), class: "text-deco", method: :post %>
  </button>
  </div>

  <div class="review">
  <div class="kind-review">
          <h3 class="kind-bottom">Get directions</h3>
          <p class="kind"><%= @restaurant.address %></p>
          <div class="line"></div>
  </div>
</div>

<div id="map"
        style="margin-top: -50px; width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
