<p>review creation</p>
<p style="color:white;"><%= @restaurant.id %> -- <%= @restaurant.name %>-- <%= @user.email %></p>
<div id="demo" style="color:white;">
 <p id="record" style="color:white;"></p>
</div>
<%= link_to "+ choose filling", anchor: "" %>
<div class="container">
  <%= form_with url:restaurant_reviews_path(@restaurant), local: true, method: :post, id: "form"  do |f| %>
  <%= render 'shared/subform', f: f, category: "filling" %>
  <%= render 'shared/subform', f: f, category: "sauce" %>
  <%= render 'shared/subform', f: f, category: "bread" %>
  <%= render 'shared/subform', f: f, category: "salad" %>
  <%= render 'shared/subform', f: f, category: "extra" %>
  <br>
  <%= submit_tag("Save review") %>
  <% end %>
</div>


<%# // create hidden checkboxes with js in the form
// 1st cb: ing[][id]
// 2nd cd: ing[id][score] %>