<p>review creation</p>
<p style="color:white;"><%= @restaurant.id %> -- <%= @restaurant.name %>-- <%= @user.email %></p>
<%= link_to "+ choose filling", anchor: "" %>
<div class="container">
  <%= form_with url:restaurant_reviews_path(@restaurant), local: true, method: :post  do |f| %>
  <%= render 'shared/subform', f: f, category: "filling" %>
  <%= render 'shared/subform', f: f, category: "sauce" %>
  <%= render 'shared/subform', f: f, category: "bread" %>
  <%= render 'shared/subform', f: f, category: "salad" %>
  <%= render 'shared/subform', f: f, category: "extra" %>
  <br>
  <%= submit_tag("Save review") %>
  <% end %>
</div>