<nav class="navbar justify-content-between">
  <% if user_signed_in? %>
    <%= link_to "Back", :back, class: "nav-link"%>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link"%>
  <% else %>

    <%= link_to "Login", new_user_session_path, class: "nav-link"%>
  <% end %>
</nav>

<div class="background-review container">
  <h1 style="color:black;"> Review <%= @restaurant.name %>    </h1>
  <div class="container review-output">
    <div id="record" style="color:black;">
    </div>
  </div>

  <div class="container form-review-design">
    <%= form_with url:restaurant_reviews_path(@restaurant), local: true, method: :post, id: "form"  do |f| %>
    <%= render 'shared/subform', f: f, category: "filling" %>
    <div class="line-review"></div>
    <%= render 'shared/subform', f: f, category: "sauce" %>
    <div class="line-review"></div>
    <%= render 'shared/subform', f: f, category: "bread" %>
    <div class="line-review"></div>
    <%= render 'shared/subform', f: f, category: "salad" %>
    <div class="line-review"></div>
    <%= render 'shared/subform', f: f, category: "extra" %>
    <br>
    <div class="btn-review-bottom">
      <button class="btn-red"> <%= submit_tag("Upload your rating") %> </button>
      <% end %>
    </div>
  </div>
</div>


<%# // create hidden checkboxes with js in the form
// 1st cb: ing[][id]
// 2nd cd: ing[id][score] %>
