<p>review creation</p>
<p><%= @review %></p>
<p><%= @restaurant.id %> -- <%= @restaurant.name %>-- <%= @user.email %></p>
<p>Fillings</p>

<%= form_with model: @reviews do |f| %>
<div>
  Fillings:
  <%= f.select(:ingredients_review, options_from_collection_for_select(Ingredient.all.select { |ing| ing.kind == "filling" }, :id, :name)) %>
  <%= render 'shared/stars_rating' %>
  <p><%=  %></p>
</div>
<div>
 Sauce:
   <%= f.select(:ingrediens_review, options_from_collection_for_select(Ingredient.all.select { |ing| ing.kind == "sauce" }, :id, :name)) %>

</div>
<div>
Bread:
   <%= f.select(:ingrediens_review, options_from_collection_for_select(Ingredient.all.select { |ing| ing.kind == "bread" }, :id, :name)) %>
</div>
<div>
Salad:
    <%= f.select(:ingrediens_review, options_from_collection_for_select(Ingredient.all.select { |ing| ing.kind == "salad" }, :id, :name)) %>
</div>
<div>
Extra:
    <%= f.select(:ingrediens_review, options_from_collection_for_select(Ingredient.all.select { |ing| ing.kind == "extra" }, :id, :name)) %>
</div>
<%= submit_tag("Search") %>

<% end %>
<p>--------------------------------------</p>
<%= link_to "+ choose filling", "#" %>
<div class="w-25 ml-2">
  <%= render 'shared/ingredients_list'  %>
</div>
 <%= render 'shared/stars_rating' %>
<p>--------------------------------------</p>
<p id="demo"></p>

<p id="stars"></p>








